
<div class="modal fade" id="p_departmentForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="modal_btnClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 id="p_departmentForm_title" class="modal-title"><b>Departman Oluştur</b></h4>
            </div>

            <div class="modal-body no-padding ">
                <div class="register-box register-box-no-margin width-100">
                    <div class="register-box-body">
                        <form action="" method="post" id="frmRegister">
                            <div class="form-group has-feedback">
                                <input id="department_Name" type="text" class="form-control" placeholder="Departman Adı">
                            </div>
                            
                            <div class="row">
                                <div class="col-xs-8">
                                    <button id="departmant_btnCreate" type="button" class="btn btn-primary btn-block btn-flat" data-loading-text="Oluşturuluyor...">Oluştur</button>
                                    <button id="department_btnSave" type="button" class="btn btn-primary btn-block btn-flat" data-loading-text="Oluşturuluyor...">Kaydet</button>
                                </div>
                                <div class="col-xs-4 text-right">
                                    <input type="checkbox" name="department_cbIsActive" checked>
                                </div>
                                <!-- /.col -->
                            </div>
                        </form>
                    </div>
                    <!-- /.form-box -->
                </div>
                <!-- /.register-box -->
            </div>
        </div>
    </div>
</div>
